/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #fff;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px; }

a {
  color: #000; }

.appview {
  display: none; }

.loading {
  margin-top: 100px;
  text-align: center; }

.actions {
  width: 50%;
  margin: 0 auto;
  margin-top: 15px;
  font-size: 12px; }
  .actions::after {
    clear: both;
    content: "";
    display: table; }
  .actions a {
    display: block;
    float: right;
    padding: 3px 10px;
    margin-left: 20px;
    border: 0;
    border-radius: 5px;
    color: #999;
    background-color: #fff;
    text-decoration: none; }
    .actions a:hover {
      color: #000;
      background-color: #f0f0f0;
      text-decoration: none; }
      .actions a:hover .icon {
        color: #000; }
    .actions a .icon {
      color: #999; }

a.icon {
  display: inline-block; }
  a.icon:hover {
    text-decoration: none; }

.page {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px; }
  .page::after {
    clear: both;
    content: "";
    display: table; }

.column {
  position: relative;
  width: 45%;
  float: left; }
  .column h1 {
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    top: -10px;
    left: 103%;
    width: 100px;
    font-weight: normal;
    color: #aaa; }
    .column h1.editing {
      cursor: move; }

.first-column {
  margin-right: 10%; }
  .first-column h1 {
    right: 103%;
    left: auto;
    text-align: right; }

.editing-column {
  background: #eee; }

.empty-column {
  min-height: 50px; }

.bundle {
  position: relative; }

.bookmarks {
  border-top: 1px solid #000; }

.bookmark {
  margin-bottom: 0;
  position: relative; }
  .bookmark:hover {
    background: #f0f0f0; }
  .bookmark span {
    visibility: hidden;
    display: block;
    position: absolute;
    top: 1px;
    right: 0;
    padding: 0 5px;
    background: #f0f0f0;
    cursor: pointer; }
  .bookmark:hover span {
    visibility: visible; }
  .bookmark a {
    text-decoration: none;
    display: block;
    padding: 3px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: transparent;
    color: #000;
    -moz-box-sizing: border-box; }
  .bookmark a:hover {
    color: #000;
    background: #f0f0f0;
    text-decoration: underline; }
    .editing .bookmark a:hover {
      cursor: move; }
  .bookmark .inline a {
    display: inline;
    padding: 0;
    border: none; }
  .bookmark .inline a:hover {
    background: transparent; }

.group {
  position: relative; }

.add-bookmark {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  bottom: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); }
  .add-bookmark form {
    position: relative; }
  .add-bookmark h2 {
    margin-bottom: 12px; }
  .add-bookmark label {
    display: inline-block;
    margin: 0;
    line-height: 24px; }
  .add-bookmark input[type="text"] {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 12px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px; }
  .add-bookmark input[type="checkbox"] {
    display: inline-block;
    position: relative;
    margin: 0;
    margin-bottom: 12px;
    top: 4px;
    line-height: 24px; }
  .add-bookmark select {
    display: block;
    margin: 0;
    margin-bottom: 12px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px; }
  .add-bookmark .close-form {
    position: absolute;
    top: -20px;
    right: -20px;
    padding: 3px 10px;
    border: 0;
    color: #ccc;
    text-decoration: none; }
    .add-bookmark .close-form:hover {
      color: #000; }

.importexport {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px; }
  .importexport p {
    margin-bottom: 16px; }
  .importexport textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box; }

.editing {
  color: #c00 !important; }
  .editing a {
    color: #c00; }
  .editing .icon {
    color: #c00 !important; }

.intro {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px; }

.page-title {
  margin-bottom: 16px; }

button {
  display: block;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 5px 10px;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px; }
  button:enabled {
    border-color: #999;
    color: #000; }

.footer {
  margin-top: 50px;
  font-size: 14px;
  text-align: center; }
  .footer p {
    color: #ccc; }
  .footer a {
    color: #ccc; }

@media (max-width: 800px) {
  .actions {
    width: 65%; }

  .page {
    width: 65%; }

  .importexport {
    width: 65%; }

  .intro {
    width: 65%; } }
@media (max-width: 600px) {
  .actions {
    width: 90%; }

  .page {
    margin-top: 24px;
    width: 90%; }

  .intro {
    width: 90%; }

  .group {
    margin-bottom: 24px; }

  .column {
    width: 100%;
    float: none; }

  .first-column {
    margin-right: 0; }

  .column h1 {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    text-align: left;
    color: #000; }

  .first-column h1 {
    right: auto;
    left: auto;
    text-align: left; }

  .importexport {
    width: 90%;
    margin-top: 24px; } }
